<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchLabel</servlet-name>
        <servlet-class>controller.SearchLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFilmController</servlet-name>
        <servlet-class>controller.FilterFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLabelController</servlet-name>
        <url-pattern>/client/addlabelcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLabel</servlet-name>
        <url-pattern>/client/searchlabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFilmController</servlet-name>
        <url-pattern>/client/filterfilmcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/client/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/client/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>SearchFilmController</servlet-name>
        <servlet-class> controller.SearchFilmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFilmController</servlet-name>
        <url-pattern>/client/searchfilmcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddLabelController</servlet-name>
        <servlet-class>controller.AddLabelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectLabelController</servlet-name>
        <servlet-class> controller.SelectLabelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectLabelController</servlet-name>
        <url-pattern>/client/selectlabelcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLabelController</servlet-name>
        <servlet-class> controller.DeleteLabelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLabelController</servlet-name>
        <url-pattern>/client/deletelabelcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditLabelController</servlet-name>
        <servlet-class> controller.EditLabelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditLabelController</servlet-name>
        <url-pattern>/client/editlabelcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FilmController</servlet-name>
        <servlet-class>controller.FilmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmController</servlet-name>
        <url-pattern>/client/detailfilmcontroller</url-pattern>
    </servlet-mapping>
</web-app>
