body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #f4f4f4;
}

.header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo img {
    width: 120px;
}

.list {
    list-style: none;
    display: flex;
}

.list-header{
    margin-top: 20px;
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
}

#search_film{
    position: relative;
}
.search_film-list{
    z-index: 1;
    position: absolute;
    top:30px;
    bottom: 0;
    right: 0px;
    color: #f4f4f4;
    font-size: 1.3rem;
    display: none;
}

#search_film ::after .search_film-list{
    display: block;
}

.search_film-list  form input{
    border-radius: 5px;
}
.movie img {
    width: 250px;
    margin: 20px;
}

.footer {
    background-color: #111;
    text-align: center;
    padding: 10px;
    
}


.body{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
}

.containner{
    width: 70%;
    
    position: relative;
    
}

.containner-menu{
    color:#f4f4f4 ;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.film--header{
    color: #564d67;
    font-size: 1.3rem;
    margin: 15px 0 15px 0;
}


.film-type{
    margin-left: 10px;
}

.film-type__view-all{
    font-size: 0.9rem;
    margin-right: 25px;
    margin-top: 5px;
}

.film-type__view-all a{
    text-decoration: none;
}
.poster--film{
    display: block;
    position: relative;
    margin: 0 20px 0 0;
}


.poster--film__img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: faded 0s;
}

.poster--film__img:hover{
    opacity: 0.4;
    
}

.poster--film__img--play-icon{
    display: none;
    position: absolute;
    color: #f4f4f4;
    top: 30%;
    left: 35%;
    font-size: 4rem;
    z-index: 1;
    animation:  scaling linear 0.3s;
}

@keyframes scaling{
    from{
        
        scale: 1.4;
    }
    to{
        
        scale: 1;
    }
}

.poster--film:hover{
    animation: faded linear 0.5s;
}
.poster--film:hover .poster--film__img--play-icon{
    display: block;
    
}

.poster--film__name{
    left: 5px;
    
}

.poster--film__des{
    height: 200px;
    font-size: 1rem;
}

.poster--film__name h1{
    font-size: 1.4rem;
    color: #f4f4f4;
    font-weight: 500;
}
.poster--film__label{
    left: 5px;
    margin-top: 5px;
    background-color: rgb(194, 14, 14);
    border-radius: 5px;
    color: #f4f4f4;
    top:0;

}

.poster--film__type{
    bottom: 20px;
    left: 5px;
    background-color: rgb(40, 106, 106);
    color: #f4f4f4;
    border-radius: 5px;
    width: 47%;
    
}

.poster--film__type h1{
    left: 3px;
    top: 3px;
    display: block;
    align-items: center;
    font-size: 1rem;
    width: 100%;
}

.film-sreach-result{
    border-right: 1px solid rgb(32,32,32);
}

.film-search-relate{

}

.filter-body{
    position: absolute;
    width: 650px;
    right: 0;
    top: 23px;
    padding: 10px;
    z-index: 1;
    background-color: #2d2a2a;
    color: black;
    border-radius: 5px;
    display: none;
}

.filter:hover .filter-body
{
    display: block;
}

.filter-film{
    display: flex;
}

.filter-film ul{
    padding-right: 0px;
}

.film-search-relate-name{

}

.film-search-relate-list a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    
}

.film-search-relate_body{
    display: flex;
    margin-top: 20px;
}

.film-search-relate-list_img img{
    width: 100px;
    height: 140px;
}

.film-search-relate-list_name{
    margin-left: 10px;
}
